/*=================================================
                    top row
 =================================================*/
#top_row {
    background: #ffffff;
    padding: 10px;
}

.top-menu {
    margin: 0;
    list-style: none;
    text-align: right;
}

.top-menu > li {
    display: inline-block;
    display: -moz-inline-block;
}

.top-menu > li + li:before {
    padding: 0 5px;
    color: #030341;
    content: "|\00a0";
}

.top-menu > li > a, .top-menu > li > a:hover, .top-menu > li > a:focus {
    text-decoration: none;
    color: #030341;
}

/*=================================================
                    Navigation
 =================================================*/
.navbar-brand > img {
    width: 100px;
}

#navigation {
    background: #ffffff;
    padding: 0;
}

.navbar .navbar-nav .nav-link, .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
    text-decoration: none;
    color: #030341;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.list-thumbnail {
    width: 60px;
}

/**
    statistics card style
 */
.statistics-card {
    margin: 10px 0;
    box-shadow: 1px 2px 5px #030341;
    transition: all .4s;
    background: #F0F0F0;
}

.statistics-card:hover {
    box-shadow: 2px 3px 15px #030341;
    transform: translateY( -1px );
}

