/*=================================================
                    HTML, body
 =================================================*/
html, body {
    height: 100%;
}

body {
    background-color: #F0F0F0;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

.admin {
    background-color: #FFFFFF;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.page-title {
    font-size: 16px;
    color: #030341;
    margin: 10px 0;
}

/*=================================================
                  Forms and buttons
 =================================================*/
form input.form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

form textarea.form-control {
    min-height: 164px;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-blue, .btn-blue:focus, .btn-blue:hover {
    background: #030341;
    color: #ffffff;
    padding: 8px;
    border: solid 1px #030341;
}

.btn-cart, .btn-cart:focus, .btn-cart:hover {
    background: #f5b903;
    color: #FFFFFF;
    padding: 8px;
    border: solid 1px #f5b903;
}

.btn-red, .btn-red:focus, .btn-red:hover {
    background: #ca0320;
    color: #FFFFFF;
    padding: 8px;
    border: solid 1px #ca0320;
}

/*=================================================
                    Sections
 =================================================*/
section {
    margin-top: 40px;
    overflow: hidden;
    background: #FFFFFF;
}