/*
    Template    : innov8 Bookstore
    Author      : Douglas Nhunzvi
    Email       : dougiedj@gmail.com
 */

/**

/*
    top navigation styles
 */
#top {
    background-color: #030341;
    padding: 10px 0;
}

#top .offer {
    text-transform: uppercase;
    color: #ffffff;
}

#top .offer .btn {
    text-transform: uppercase;
}

@media ( max-width: 991px ) {
    #top .offer {
        margin-bottom: 10px;
    }
}

@media ( max-width: 991px ) {
    #top .offer {
        font-size: 12px;
        text-align: center;
    }
}

#top a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
}

#top ul.menu {
    padding-top: 5px;
    margin: 0;
    text-align: right;
    font-size: 12px;
    list-style: none;
}

@media ( max-width: 991px ) {
    #top ul.menu {
        text-align: center;
    }
}

#top ul.menu > li {
    display: inline-block;
    display: -moz-inline-block;
}

#top ul.menu > li > a {
    color: #eeeeee;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

#top ul.menu > li + li:before {
    content: "|\00a0";
    padding: 0 5px;
    color: #f7f7f7;
}

/**
    main navigation styles
 */
.navbar-brand > img {
    width: 100px;
}

/**
    welcome-card styles
 */
.welcome-card {
    height: 200px;
    box-shadow: 1px 2px 5px #f7f7f7;
    transition: all .4s;
    margin: 20px 0;
    background: #F0F0F0;
}

.welcome-card:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY( -1px );
}

.welcome-card h4 {
    color: #030341;
    font-size: 14px;
    font-weight: 400;
}

/*
    new books styles
 */
#newest_books h4, #best_sellers h4 {
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    color: #030341;
}

.book-card {
    height: 280px;
    box-shadow: 1px 2px 5px #f7f7f7;
    transition: all .4s;
    margin: 20px 0;
    background: #F0F0F0;
}

.book-card img {
    width: 200px;
    height: 160px;
    display: block;
    margin: 5px auto;
}

.book-card h5 {
    font-size: 14px;
    margin-bottom: 2px;
    margin-left: 4px;
}

.book-card h6 {
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.book-card .book-price {
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
}

.book-card .btn-default {
    margin: 5px auto;
    display: block;
}

/*
   book details styles
 */
#book_title, #category_title {
    color: #030341;
    margin: 8px 0;
    font-size: 16px;
}

#book-details-right {
    padding: 25px 30px;
    box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.1 );
    -webkit-box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.1 );
    border-radius: 4px;
}

#book_details h5 {
    margin-top: 10px;
    color: #030341;
}

/*
    shopping cart styles
 */
#buttons-row {
    margin-top: 10px;
}

#buttons-row .btn {
    margin: 10px 10px 10px 0;
}

/**
    registration form styles
 */
#registration_container {
    padding: 25px 30px;
    box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.1 );
    -webkit-box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.1 );
    border-radius: 4px;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

#registration_container img {
    margin: 10px auto;
    display: block;
}

#registration_container a {
    text-decoration: none;
    color: #030341;
}

#link-left {
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
}

#link-right {
    font-size: 14px;
    text-align: right;
    margin-top: 5px;
}

/**
    payment success styles
 */

#error_message {
    margin: 10px 0;
}

#order_details {
    display: none;
}

/**
    books_by_author styles
 */
#books_by_author h4 {
    text-transform: uppercase;
    margin: 15px 0;
}

